html,
body {
  font-family: 'Tahoma';
  margin: 0;
  padding: 0;
}
.global-container {
  .containerForBoxElement {
    .box {
      height: 100px;
      width: 100px;
      background-color: blue;
    }
  }
}
