html,
body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
#app {
  padding: 100px;
}
#app .accordeon_container .btn_box .btn {
  display: block;
  padding: 10px 15px;
  background-color: #686de0;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.4s ease;
}
#app .accordeon_container .btn_box .paragraph {
  padding: 10px 15px;
  border: 1px solid #000;
  display: none;
}
#app .accordeon_container .btn_box .paragraph.active {
  border: 1px solid #000;
  display: block;
}
