<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1 Lesson</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <h1 :class="{'red': isRed}">{{msg}}</h1>
      <input type="text" placeholder="enter your text" v-model="msg" />
      <button @click="changeColor()">Change color</button>
      <p v-if="isRed">
        1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
        delectus animi, minus molestias atque ut perspiciatis deleniti
        accusantium ullam. Praesentium nemo, ipsam accusamus impedit non nam
        sunt dicta consequatur! Magni?
      </p>
      <p v-else>
        2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
        delectus animi, minus molestias atque ut perspiciatis deleniti
        accusantium ullam. Praesentium nemo, ipsam accusamus impedit non nam
        sunt dicta consequatur! Magni?
      </p>
      <ul>
        <li v-for="user in users">{{user.name}}, {{user.age}}</li>
      </ul>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
