<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1 Lesson</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <input type="text" placeholder="enter a" v-model="a" />
      <input type="text" placeholder="enter b" v-model="b" />
      <input type="text" placeholder="enter c" v-model="c" />
      <button @click="quadraticEquation()">Расчитать</button>
      <h1>{{msg}}</h1>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
